body {
  /* background-image: url("../img/bg.png") !important;
  background-size: fixed; */
  background: url("../img/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

#wrapper #content-wrapper {
  background-color: inherit;
}

.bg-gradient-background {
  background: rgba(255, 255, 255, 0.5);
  background-size: cover;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  margin-left: 1rem;
  margin-top: 5rem;
}
.sidebar-dark .nav-item .nav-link {
  color: #520070;
}
.sidebar-dark .sidebar-brand {
  color: #520070;
}
.sidebar-dark .nav-item .nav-link:active,
.sidebar-dark .nav-item .nav-link:focus,
.sidebar-dark .nav-item .nav-link:hover {
  color: #520070;
}
.sidebar-dark .nav-item .nav-link:active i,
.sidebar-dark .nav-item .nav-link:focus i,
.sidebar-dark .nav-item .nav-link:hover i {
  color: #520070;
}

.sidebar-dark .sidebar-heading {
  color: #520070;
}

.sidebar-dark .nav-item .nav-link i {
  color: #520070;
}

.sidebar-dark .nav-item.active .nav-link i {
  color: #520070;
}

.sidebar-dark .nav-item.active .nav-link {
  color: #520070;
}

.sidebar-dark #sidebarToggle::after {
  color: #520070;
}

.sidebar-dark .nav-item .nav-link[data-toggle="collapse"]::after {
  color: #520070;
}

.sidebar-dark hr.sidebar-divider {
  border-top: 1px solid #520070;
}

.topbar #sidebarToggleTop {
  height: 2.5rem;
  width: 2.5rem;
}
.topbar #sidebarToggleTop:hover {
  background-color: #ffffff7e;
}
.topbar #sidebarToggleTop:active {
  background-color: #ffffff7e;
}

.btn-link {
  font-weight: 400;
  color: #520070;
  text-decoration: none;
}

.btn-link {
  font-weight: 400;
  color: #520070;
  text-decoration: none;
}
.btn-link:hover {
  color: #520070;
  text-decoration: underline;
}
.btn-link.focus,
.btn-link:focus {
  text-decoration: underline;
}
.btn-link.disabled,
.btn-link:disabled {
  color: #858796;
  pointer-events: none;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  outline: 0;
}
.btn-primary {
  color: #fff;
  background-color: #520070;
  border-color: #520070;
  border-radius: 20px;
}
.btn-primary:hover {
  color: #fff;
  background-color: #ca54b6;
  border-color: #ca54b6;
}
.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: ##ca54b6;
  border-color: ##ca54b6;
  box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #ca54b6;
  border-color: #ca54b6;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ca54b6;
  border-color: #ca54b6;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}

.btn-secondary {
  color: #fff;
  background-color: #858796;
  border-color: #858796;
  border-radius: 20px;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #717384;
  border-color: #6b6d7d;
}
.btn-secondary.focus,
.btn-secondary:focus {
  color: #fff;
  background-color: #717384;
  border-color: #6b6d7d;
  box-shadow: 0 0 0 0.2rem rgba(151, 153, 166, 0.5);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #fff;
  background-color: #858796;
  border-color: #858796;
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #6b6d7d;
  border-color: #656776;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(151, 153, 166, 0.5);
}
